body {
  margin: 0 auto;
  font-family: Noto Sans, sans-serif;
  line-height: 1.5;
  color: white;
  background-image: linear-gradient(
      rgba(0, 32, 173, 0.432),
      rgba(0, 32, 173, 0.432)
    ),
    url(./background.jpeg);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.forms-container {
  margin: 0 auto;
  background-color: rgba(13, 13, 51, 0.863);
  height: 100%;
  padding: 30px;
  border-radius: 5px;
  font-size: 20px;
}
.personDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

textarea {
  resize: none;
}
option {
  display: flex;
}
.recommendParts {
  display: flex;
}
/* .role-box {
  display: flex;
  align-items: ;
} */
.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.header {
  display: flex;
  justify-content: center;
}
.headParagraph {
  display: flex;
  justify-content: center;
}
.Button {
  height: 50px;
  background-color: rgb(68, 179, 68);
  color: white;
  width: 100%;
}
input {
  height: 35px;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
}
textarea {
  width: 100%;
}
select {
  height: 37px;
  border-radius: 5px;
  width: 100%;
  font-size: 15px;
}
label {
  display: flex;
  align-items: center;
}
